In [2]:
import pandas as pd

In [3]:
df = pd.read_csv("politifact.csv")

In [4]:
df.describe()

       publish_date      target
count  5.200000e+01  116.000000
mean   1.445742e+09    0.500000
std    9.898263e+07    0.502169
min    1.162883e+09    0.000000
25%    1.445756e+09    0.000000
50%    1.481292e+09    0.500000
75%    1.515208e+09    1.000000
max    1.530813e+09    1.000000

In [5]:
real_df = df[df.target == 1]
real_df.describe()

       publish_date  target
count  1.800000e+01    58.0
mean   1.361061e+09     1.0
std    1.002386e+08     0.0
min    1.221808e+09     1.0
25%    1.262426e+09     1.0
50%    1.357888e+09     1.0
75%    1.456174e+09     1.0
max    1.483600e+09     1.0

In [6]:
fake_df = df[df.target == 0]
fake_df.describe()

       publish_date  target
count  3.400000e+01    58.0
mean   1.490573e+09     0.0
std    6.311426e+07     0.0
min    1.162883e+09     0.0
25%    1.478205e+09     0.0
50%    1.503774e+09     0.0
75%    1.520968e+09     0.0
max    1.530813e+09     0.0