In [16]:
import pandas as pd

In [17]:
df = pd.read_csv("politifact_git.csv")

In [18]:
df.describe()

       publish_date      target
count  4.240000e+02  957.000000
mean   1.286399e+09    0.580982
std    3.090784e+09    0.493656
min   -6.210683e+10    0.000000
25%    1.367773e+09    0.000000
50%    1.487154e+09    1.000000
75%    1.513231e+09    1.000000
max    1.665086e+09    1.000000

In [19]:
# real_df = df["target"] == 1
real_df = df[df.target == 1]

In [20]:
real_df.describe()

       publish_date  target
count  1.610000e+02   556.0
mean   9.230911e+08     1.0
std    5.003688e+09     0.0
min   -6.210683e+10     1.0
25%    1.256080e+09     1.0
50%    1.338595e+09     1.0
75%    1.436742e+09     1.0
max    1.618920e+09     1.0

In [21]:
fake_df = df[df.target == 0]
fake_df.describe()

       publish_date  target
count  2.630000e+02   401.0
mean   1.508804e+09     0.0
std    5.292930e+07     0.0
min    1.162858e+09     0.0
25%    1.490188e+09     0.0
50%    1.506954e+09     0.0
75%    1.523326e+09     0.0
max    1.665086e+09     0.0